@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

/* --color-very-light-gray: hsl(0, 0%, 98%);
  --color-very-light-grayish-blue: hsl(236, 33%, 92%);
  --color-light-grayish-blue: hsl(233, 11%, 84%);
  --color-dark-grayish-blue: hsl(236, 9%, 61%);
  --color-very-dark-grayish-blue: hsl(235, 19%, 35%);
  --color-gradient-start: hsl(192, 100%, 67%);
  --color-gradient-end: hsl(280, 87%, 65%);


  --color-very-dark-blue: hsl(235, 21%, 11%);
  --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --color-dark-light-grayish-blue: hsl(234, 39%, 85%);
  --color-dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --color-dark-dark-grayish-blue: hsl(234, 11%, 52%);
  --color-dark-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --color-dark-very-dark-grayish-blue-hover: hsl(237, 14%, 26%);
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$color-gradient-start: hsl(192, 100%, 67%);
$color-gradient-end: hsl(280, 87%, 65%);
$color-crossed-light:hsl(233, 11%, 84%);
$color-not-crossed-light:hsl(236, 9%, 61%);
$color-crossed-dark:hsl(233, 14%, 35%);
$color-not-crossed-dark:hsl(234, 11%, 52%);

$color-border-light:hsl(236, 9%, 61%);
$color-border-dark:hsl(234, 11%, 52%);
$color-background-light:hsl(0, 0%, 98%);
$color-background-dark:hsl(235, 21%, 11%);
$color-background-list-light:hsl(236, 33%, 92%);
$color-background-list-dark:hsl(235, 24%, 19%);




.container{
  position:relative;
  display:grid;
  place-items:center;
  height:100vh;
  width:100%;
  .headerimageLight{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    img{
      width:100%;
    }
    }
  .block{
    width:1000px;
    height:1000px;
    /* box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
    -webkit-box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2);
    -moz-box-shadow: -1px 5px 20px 10px rgba(37, 39, 60, 0.2); */
    z-index:2;
    .header-top{
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      margin-top:50px;
      /* border:1px black solid; */
      padding:5px;
      padding-left:0px;
      margin-bottom:50px;
      span{
        font-size:60px;
        letter-spacing: 20px;
        font-weight:700;
        color:#fff;

      }
    }
    .iconContainer{
      display:grid;
      place-items: center;
       svg{
        height:40px;
        width:40px;
       }
    }
    .input-container{
      height:100px;
      display:flex;
      flex-direction:row;
      align-items: center;
      box-shadow: 0 0 0 1px #E6E6EA;
      border-radius: 12px;
      margin-bottom:50px;
      .checkbox-container{
        display:grid;
        place-items:center;
        /* border:1px red solid; */
        width:100px;
        height:100%;
        .circle-container{
          display:grid;
          place-items: center;
          background-color: $color-crossed-light;
          border-radius: 50%;
         /*  width:40%;
          height:40%; */
          padding:0.2rem;
          &:hover{
             background-image: linear-gradient(to bottom right, $color-gradient-start, $color-gradient-end);
          }
          .checkbox{
            display: flex;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: inherit;
            /* background-color: white; */
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img{
              /* border:1px red solid; */
              height:50%;
              width:autO;
            }
          }
        }
      }
        .input-container-inner{
          /* border:5px blue solid; */
          width:900px;
          padding:5px;
          input{
            background:none;
            width:90%;
            border:none;
            font-size: 25px;
            font-weight: 500;
            letter-spacing: 1px;
            font-family:"Josefin Sans", sans-serif, "Courier New", Courier, monospace; 
          }
        }
    }
    .tasklist-container{
      border-radius: 20px;
      border-collapse: separate;
      overflow:hidden;
       padding-left:0px;
      box-shadow: 0 0 0 1px #E6E6EA;
      .input-container-list{
        height:100px;
        display:flex;
        flex-direction:row;
        align-items: center;
          .checkbox-container{
            display:grid;
            place-items:center;
            /* border:1px red solid; */
            width:100px;
            height:100%;
            .circle-container{
              display:grid;
              place-items: center;
              background-color: $color-crossed-light;
              border-radius: 50%;
             /*  width:40%;
              height:40%; */
              padding:0.2rem;
              &:hover{
                 background-image: linear-gradient(to bottom right, $color-gradient-start, $color-gradient-end);
              }
              .checkbox{
                display: flex;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: inherit;
                /* background-color: white; */
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img{
                  /* border:1px red solid; */
                  height:50%;
                  width:autO;
                }
              }
            }
          }
          .input-container-inner{
            padding:5px;
            span{
              font-size: 25px;
              font-weight: 400;
              letter-spacing: 1px;
              font-family:"Josefin Sans", sans-serif, "Courier New", Courier, monospace; 
            }
          }
          .input-container-counter{
            width:100%;
            display:flex;
            justify-content:space-around;
            padding:5px;
            span{
              font-size: 18px;
              font-weight: 400;
              letter-spacing: 1px;
              cursor: pointer;
              &:hover{
                color:blue;
                font-weight: 600;
                
              }
            }
          }
      }
    }
  }
}

.crisis{
  border-bottom: 1px #E6E6EA solid;
}



.completed{
  .circle-container{
    background-image: linear-gradient(to bottom right, $color-gradient-start, $color-gradient-end);
    .checkbox{
      background-image: linear-gradient(to bottom right, $color-gradient-start, $color-gradient-end);
    }
  }
  .input-container-inner{
    span{
      text-decoration: line-through;
    }
  }
}

.span-crossed{
  span{
    color:$color-crossed-light;
  }
}
.span-not-crossed{
  span{
    color:$color-not-crossed-light;
  }
}



.container.light-theme{
  .circle-container{
   
    .checkbox{
      background-color: white;
    }
  }
  
  .text {
    padding: 2rem;
    background-color:$color-background-light;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family:"Josefin Sans", sans-serif, "Courier New", Courier, monospace; 
    color:$color-not-crossed-light;
    border-bottom: 1px solid $color-crossed-light;
  }
  .tasklist-container{
    .span-crossed{
      span{
        color:$color-crossed-light;
      }
    }
    .span-not-crossed{
      span{
        color:$color-not-crossed-light;
      }
    }
  }
}

.container.dark-theme{
  .circle-container{
   
    .checkbox{
      background-color: $color-background-list-dark;
    }
  }
  .text {
    padding: 2rem;
    background-color: $color-background-list-dark;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family:"Josefin Sans", sans-serif, "Courier New", Courier, monospace; 
    color:$color-not-crossed-dark;
    border-bottom: 1px solid $color-border-dark;
  }
  .tasklist-container{
    .span-crossed{
      span{
        color:$color-crossed-dark;
      }
    }
    .span-not-crossed{
      span{
        color:$color-not-crossed-dark;
      }
    }
  }
}

.light-theme {
  background-color: $color-background-light;
}

.light-theme input{
  color: #000;
}
.light-theme .input-container{
  background-color: $color-background-light;
}
.light-theme .input-container-list{
  background-color: #fff;
}



.dark-theme span{
  color:#fff;
}
.dark-theme {
  background-color: $color-background-dark;
}
.dark-theme input{
  color: #fff;
}
.dark-theme .input-container{
  background-color: $color-background-list-dark;
}
.dark-theme .input-container-list{
  background-color: $color-background-list-dark;
}
