.container{
  position:relative;
  .headerimageLight{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    border:1px red solid;
  }
  display:flex;
  flex-direction:column;
  background: white;
  height:100vh;
  width:100%;
  /* border:1px red solid; */
  .white-block{
    border:5px black solid;
    margin:none;
    background:blue;
    font-size:3rem;
    color:red;  
   
    }
  .block{
    width:200px;
    height:200px;
    background-color: black;
    border:1px red solid;
    z-index:2;
  }
}
