.container{
  position:relative;
  display:grid;
  place-items:center;
  border:10px black solid;
  background: white;
  height:100vh;
  width:100%;
  .headerimageLight{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    border:1px red solid;
    width:100%;
    img{
      width:100%;
    }
  /* border:1px red solid; */
    }
  .block{
    width:1000px;
    height:1000px;
    /* background-color: black; */
   /*  border:1px red solid; */
    z-index:2;
    .header-top{
      margin-top:50px;
      border:1px black solid;
      padding:5px;
      padding-left:0px;
      margin-bottom:100px;
      span{
        font-size:50px;
        letter-spacing: 20px;
        font-weight:600;
        color:#fff;

      }
    }
    .input-container{
      height:100px;
      
      display:flex;
      flex-direction:row;
      align-items: center;
      background-color: #fff;
      border-radius: 12px;
      margin-bottom:50px;
        .checkbox-container{
          display:grid;
          place-items:center;
          /* border:1px red solid; */
          width:100px;
          height:100%;
          .circle-container{
            border:1px blue solid;
            border-radius: 50%;
            width:40%;
            height:40%;
          }
        }
        .input-container-inner{
          /* border:5px blue solid; */
          width:900px;
          padding:5px;
          input{
            width:90%;
            border:none;
            font-size: 25px;
            font-weight: 500;
            letter-spacing: 1px;
            color:#000;
            font-family:"-apple-system", "BlinkMacSystemFont", 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; 
          }
        }
    }
    .tasklist-container{
      border-radius: 20px;
      /* border:1px red solid; */
      border-collapse: separate;
      overflow:hidden;
      border: 1px grey solid;
      
      .input-container-list{
        height:100px;
        /* border:1px red solid; */
        display:flex;
        flex-direction:row;
        align-items: center;
        background-color: #fff;
          .checkbox-container{
            display:grid;
            place-items:center;
            /* border:1px red solid; */
            width:100px;
            height:100%;
            .circle-container{
              border:1px blue solid;
              border-radius: 50%;
              width:40%;
              height:40%;
            }
          }
          .input-container-inner{
            padding:5px;
            span{
              font-size: 25px;
              font-weight: 500;
              letter-spacing: 1px;
            }
          }
      }
    }
  }
}
